nav {
    background-image: url('/pictures/kitchen1.png');
    /* Half height
    height: 50%; */

    /* Center and scale the image nicely */
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}